extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/home-page.js" type="module" defer)
  script(src="/javascripts/load-update-info.js" type="module" defer)

block content
  div#page-container
    h1= title
    div#inst-and-sidepanel-container
      div#instruction-container
        div= instructionHeader
        each instruction in instructions
          li= instruction
      div#side-panel
    div#other-container
      div#get-key-container
        button(type="button" id="get-key-btn") Get Your Key
        div#key-display.key-display Your Key Will Appear Here
        div#tts-display.key-display The TTS Command Will Appear Here
      form(action='/display_game' method='POST' id="enter-key-form-container")
        input(type='hidden' name='_csrf' value=csrfToken)
        button(type='submit' value='Get Game Data' id="enter-key-btn") Get Game Data
        input(type='text' name='gameKey' placeholder="Enter Your Game Key" id="enter-key-field" class="input-field" required)
  div#footer-container
        div Created by Alec "Root" Keeler
        a(href="https://github.com/Alec-Keeler/ti4_stream_overlay_tool") GitHub
        a(href="https://www.linkedin.com/in/alec-keeler-a8499083/") LinkedIn
        div Special Thanks to "Darrell", "Milty", "x3n d0g" "ThatRobHuman", and Paul Saunders
  //- form(action='/game_collection' method="POST")
  //-   input(type='hidden' name='_csrf' value=csrfToken)
  //-   input(type='text' name='collName' placeholder="Enter a name for your collection of games" required)
  //-   input(type='submit' value='Get Your Collection Key')
  //- form(action='/game_collection/game_data' method="POST")
  //-   input(type='hidden' name='_csrf' value=csrfToken)
  //-   input(type='text' name='collKey' placeholder="Enter Your Collection Key" required)
  //-   input(type='submit' value='Get Your Collection Data')
    